@{
    Layout = null;
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
    <!-- Latest compiled JavaScript -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/SecretChat.css" />
}

<div class="secret_chat">
    <div class="group-chat">
        <div class="box-secret message-box">
            <div class="chat-header">
                <div class="logo-chatting">
                    @* <i class="fab fa-facebook-messenger"></i> *@
                    <a href="#" class="logo">
                        <img src="/img/logo_main.png" alt="" />
                    </a>
                    <h3>Chatting</h3>
                </div>
            </div>
            <div class="message-box-content">
                <div class="message-row other-message">
                    <div class="message-title">
                        <span>Hải Quý</span>
                    </div>
                    <div class="message-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae id totam sint impedit
                        consequuntur culpa quia, sed corrupti doloremque odio delectus iusto esse alias natus
                        voluptatibus earum modi
                    </div>
                    <div class="message-time">
                        May 19
                    </div>
                </div>
                <div class="message-row your-message">
                    <div class="message-title">
                        <span>Văn Chương</span>
                    </div>
                    <div class="message-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae id totam sint impedit
                        consequuntur culpa quia, sed corrupti doloremque odio delectus iusto esse alias natus
                        voluptatibus earum modi
                    </div>
                    <div class="message-time">
                        May 19
                    </div>
                </div>
                <div class="message-row your-message">
                    <div class="message-title">
                        <span>Văn Chương</span>
                    </div>
                    <div class="message-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae id totam sint impedit
                        consequuntur culpa quia, sed corrupti doloremque odio delectus iusto esse alias natus
                        voluptatibus earum modi
                    </div>
                    <div class="message-time">
                        May 19
                    </div>
                </div>
                <div class="message-row other-message">
                    <div class="message-title">
                        <span>Hải Quý</span>
                    </div>
                    <div class="message-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae id totam sint impedit
                        consequuntur culpa quia, sed corrupti doloremque odio delectus iusto esse alias natus
                        voluptatibus earum modi
                    </div>
                    <div class="message-time">
                        May 19
                    </div>
                </div>
                <div class="message-row other-message">
                    <div class="message-title">
                        <span>Hải Quý</span>
                    </div>
                    <div class="message-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae id totam sint impedit
                        consequuntur culpa quia, sed corrupti doloremque odio delectus iusto esse alias natus
                        voluptatibus earum modi
                    </div>
                    <div class="message-time">
                        May 19
                    </div>
                </div>
                <div class="message-row other-message">
                    <div class="message-title">
                        <span>Hải Quý</span>
                    </div>
                    <div class="message-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae id totam sint impedit
                        consequuntur culpa quia, sed corrupti doloremque odio delectus iusto esse alias natus
                        voluptatibus earum modi
                    </div>
                    <div class="message-time">
                        May 19
                    </div>
                </div>
            </div>
            @* <div class="group-btn-interactive">
                <button class="interactive"><img src="/img/add-user.png" alt="" srcset=""></button>
                <button class="interactive"><img src="/img/like.png" alt="" srcset=""></button>
                <button class="interactive" href="#reportUserModal" data-toggle="modal"><i class="fas
                fa-flag-checkered"></i></button>
                </div> *@
            <form class="message-box-action">
                <input type="text" id="message" class="message" placeholder="Message Here..." autocomplete="off" />
                <button class="send_message">
                    <img src="/img/send_mes.png" alt="" srcset="">
                </button>
            </form>
        </div>
        @* <button class="btn-next-person d-flex justify-content-center align-items-center"><p class="text mr-2
            mb-0">Bắt đầu</p><img class="icon_next" src="/img/right-arrow.png" alt="" srcset=""></button> *@
    </div>
</div>
</div>
