@using Talktif.Models
@{
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
    ViewData["Title"] = "Document";
    <link rel="stylesheet" href="../css/Admin.css" />
    Statistic Model = new Statistic();
    if (ViewBag.Statistic != null)
    {
        Model = ViewBag.Statistic;
    }
}
<main>
    <h2 class="dash-title">Overview</h2>
    <div class="dash-cards">
        <div class="card-single">
            <div class="card-body">
                @* <span class="ti-briefcase"></span> *@
                <span class="ti-face-smile"></span>
                <div>
                    <h5>User</h5>
                    <h4>@(Model.numOfUser)</h4>
                </div>
            </div>
            <div class="card-footer">
                <a href="/Admin/Users">View all</a>
            </div>
        </div>

        <div class="card-single">
            <div class="card-body">
                <span class="ti-reload"></span>
                <div>
                    <h5>ChatRooms</h5>
                    <h4>@(Model.numOfChatRoom)</h4>
                </div>
            </div>
            <div class="card-footer">
                <a href="">View all</a>
            </div>
        </div>

        <div class="card-single">
            <div class="card-body">
                <span class="ti-check-box"></span>
                <div>
                    <h5>Report</h5>
                    <h4>@(Model.numOfReport)</h4>
                </div>
            </div>
            <div class="card-footer">
                <a href="/Admin/ReportUser">View all</a>
            </div>
        </div>
        <div class="card-single">
            <div class="card-body">
                <span class="ti-id-badge"></span>
                <div>
                    <h5>Messages</h5>
                    <h4>@(Model.numOfMessage)</h4>
                </div>
            </div>
            <div class="card-footer">
                <a href="#">View all</a>
            </div>
        </div>
    </div>

    <section class="recent">
        <div class="activity-grid">
            <div class="activity-card">
                <h3>Quá trình thực hiện dư án</h3>

                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Phiên bản</th>
                                <th>Ngày phát hành</th>
                                <th>Người thực hiên</th>
                                <th>Mức độ hoàn thiện</th>
                                <th>Nội dung</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.0</td>
                                <td>01/04/2021</td>
                                <td>Lê Hải Quý</td>
                                <td>20%</td>
                                <td>Code giao diên </td>
                            </tr>
                            <tr>
                                <td>1.1</td>
                                <td>14/04/2021</td>
                                <td>Thái Văn Chương, Văn Hữu An</td>
                                <td>25%</td>
                                <td>Đăng nhập</td>
                            </tr>
                            <tr>
                                <td>1.2</td>
                                <td>01/05/2021</td>
                                <td>Bùi Kim Phát</td>
                                <td>45%</td>
                                <td>Nhắn tin</td>
                            </tr>
                            <tr>
                                <td>1.3</td>
                                <td>14/05/2021</td>
                                <td>Bùi Kim Phát, Thái Văn Chương, Văn Hữu An</td>
                                <td>55%</td>
                                <td>Nhắn tin với người lạ và quản lí người dùng</td>
                            </tr>
                            <tr>
                                <td>1.4</td>
                                <td>01/06/2021</td>
                                <td>Bùi Kim Phát, Thái Văn Chương, Văn Hữu An</td>
                                <td>100%</td>
                                <td>Nhắn tin với bạn và quản lí báo cáo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>