@using Talktif.Models
@model User_Infor
@{
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
    ViewData["Name"] = (Model != null)?Model.name:"";
}
<div class="row">
    <h1>
        .........................Bonjour
    </h1>
</div> 