@model global::Talktif.Models.ViewModel;
@{
    ViewData["Title"] = "Chat";
}

    <h3 id="roomID">@Model.RoomID</h3>
    <form class="container">
        <div class="row">&nbsp;</div>
        @if (Model.RoomID > 0){
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
            <div class="row"><input type="submit" id="sendButton" value="Send" /></div>
        </div>
        }
    </form>
    <div class="container">
        @foreach (var item in Model.UserFavs)
        {
            <div class="m-2">
                @using(Html.BeginForm("Chat", "Home", new {fromID = Model.UserID , toID = item.ID} ,FormMethod.Post)){
                <button name="chatUser" class="btn btn-success" value=@item.ID>@item.ToString()</button>
                }
            </div>
        }
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
}
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
