@* @model global::Talktif.Models.ViewModel; *@
@{
    ViewData["Title"] = "Home Page";
}
@using Talktif.Models
@model User_Infor
<div class="text-center">
    <h1 class="display-4">Welcome @Model.name</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
