@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
:root {
    --text-grey: #8390a2;
    --main-text: orange;
}

.row-wrapper {
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
}

button,
input {
    outline: none !important;
}

button {
    border: none !important;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

::-webkit-scrollbar {
    width: 0px;
}

.wrapper_update {
    width: 100%;
    min-height: 90vh;
    position: relative;
}

.wrapper_update .form {
    height: 100%;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border: 1px solid #00dd99;
    padding: 0px 10px;
}

.wrapper_update .form .user-info,
.wrapper_update .form .status-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.wrapper_update .form .group-btn-update {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.wrapper_update .form .user-info input {
    border: 0;
    background: none;
    display: block;
    text-align: center;
    border: 2px solid #3498db;
    padding: 6px;
    width: 321px;
    outline: none;
    color: black;
    border-radius: 5px;
    transition: 0.5s;
    font-size: 15px;
}

.wrapper_update .form .user-info input:focus {
    width: 300px;
    border-color: #2ecc71;
}

.details,
.status-title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--main-text);
}

.wrapper_update .form label {
    display: flex;
    align-items: center;
}

.category {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper_update .form input[type="radio"] {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.btn-next-person,
.btn-back {
    width: 150px;
    height: 50px;
    font-size: 25px;
    background-color: #00dd99 !important;
    border: none;
    margin-bottom: 51px;
    border-radius: 30px;
}

.btn-next-person p,
.btn-back p {
    font-size: 16px;
    color: white;
}

.icon_next,
.icon_back {
    width: 25px;
    height: 25px;
}

textarea {
    padding: 6px;
    border: 2px solid #3498db;
    outline: none;
}

textarea:focus {
    border: 2px solid #00dd99;
}


/* Responsive */

@media only screen and (max-width: 576px) {
    .wrapper_update .form {
        width: 100%;
    }
}