@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
* {
    font-family: "Noto Serif", serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
}

::-webkit-scrollbar {
    width: 0px;
}

button {
    border: none !important;
}


.chatting_box
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

.chatting_box .back-home{
    width: 100%;
}

.chatting_box .back-home button{
    margin: 0 auto;
    display: flex;
}



.btn-next-person,.btn-back {
    width: 150px;
    height: 50px;
    font-size: 25px;
    background-color: #00dd99 !important;
    border: none;
    border-radius: 30px;
}

.btn-next-person p, .btn-back p {
    font-size: 16px;
    color: white;
}

.icon_next,.icon_back {
    width: 25px;
    height: 25px;
}




/* Chatting */

.secret_chat {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url(/img/backgroundchatsecret.jpg);
    background-size: cover;
    background-position: center; */
}

.chat-header {
    max-height: 50px;
    height: 50px;
    overflow: hidden;
    background-color: #00dd99;
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    /* border-bottom: 1px solid #0d3575; */
}
.chat-header .theme-chatting{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    float: right;
}
.chat-header .theme{
    width: 15px;
    height: 15px;
    background-color: transparent;
}
.chat-header .theme button{
    width: 100%;
    height: 100%;
    /* background-color: transparent; */
    border-radius: 50%;
}

.red{
    background-color: red !important;
}

.green{
    background-color: green !important;
}


.blue{
    background-color: blue !important;
}

.dark-mode{
   background-color: #3a3b3c;
}

.chat-header .logo-chatting {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.chat-header .logo-chatting img {
    width: 50px !important;
    /* height: 50px; */
}

.logo-chatting h3 {
    letter-spacing: 1px;
    margin-left: 10px;
    font-size: 16px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.message-box-content {
    width: 100%;
    height: 450px;
    background: white;
    overflow-y: auto;
    padding: 0.5rem;
}

.message-row {
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 10px;
}

.your-message {
    justify-content: end;
    justify-items: end;
}

.other-message {
    justify-content: start;
    justify-items: start;
}

.message-text {
    padding: 6px 12px;
    margin-bottom: 5px;
}

.message-time {
    font-size: 13px;
    color: #777;
}

.your-message .message-text {
    background: #00dd99;
    color: white;
    border: 1px solid #00dd99;
    border-radius: 15px 15px 0px 15px;
}

.other-message .message-text {
    background: #e4e6eb;
    color: black;
    border: 1px solid #e4e6eb;
    border-radius: 0px 15px 15px 15px;
}

.dark-message {
    background: #3a3b3c !important;
    color: white !important;
    border: 1px solid #3a3b3c !important;
}

.message-title span {
    font-size: 12px;
    text-transform: capitalize;
}

.message-box-action {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background: white;
}

.message-box-action input,
.message-box-action button {
    flex: 4;
    height: 45px;
    outline: none;
    border: 1px solid #00dd99;
    /* margin: 5px; */
    border-radius: 24px;
    padding: 0.5rem;
    text-align: center;
}

.message-box-action button {
    flex: 1;
    max-width: 45px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00dd99;
}
.message-box-action button i{
    color: white;
    transform: scale(1.25);
}

.send_message {
    background: transparent;
}

.action-user {
    height: 500px;
    justify-content: space-evenly !important;
}

.box-secret {
    height: 560px;
    box-shadow: 0 0 32px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 600px;
}

.message-box {
    overflow-y: auto;
    /* border: 2px solid #0084ff; */
    box-shadow: 0 0 32px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.group-btn-interactive {
    padding-top: 5px;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    width: 100%;
}

button.interactive {
    /* border: 2px solid #00dd99 !important; */
    border-radius: 8px;
    width: 50px;
    height: 50px;
    background-color: #00dd99;
    color: white;

}

button.interactive i {
    transform: scale(1.25);
}

button.interactive img {
    margin: 0 auto;
    width: 20px;
    height: 20px;
}

button.interactive:hover {
    background-color: #00dd99;
    transition: 0.4s ease-in-out;
}
/* 
button.btn-next-person {
    margin: 20px auto;
    width: 150px;
    height: 45px;
    font-size: 25px;
    background-color: #00dd99 !important;
    border: none;
    border-radius: 4px;
} */

button.btn-next-person p {
    font-size: 16px;
    color: white;
}

.icon_next {
    width: 25px;
    height: 25px;
}