@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
* {
    font-family: "Noto Serif", serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dbd1c0;
}

.form_1 {
    width: 100%;
    max-width: 900px;
    height: 490px;
    background-color: #eae0e4;
    border-radius: 10px;
    box-shadow: 0 0 32px 15px rgba(0, 0, 0, 0.1);
    z-index: 10;
    overflow: auto;
    display: block;
    justify-content: space-between;
}

.square {
    position: absolute;
    height: 380px;
    top: 50%;
    left: 50%;
    transform: translate(181%, -79%);
    opacity: 0.2;
    filter: sepia(1);
}

header,
footer {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 900px;
    padding: 11px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_main {
    width: 152px;
    height: 102px;
}

h2.name {
    color: orange;
    font-weight: 600;
    font-size: 1.9rem;
    margin-bottom: 20px;
    line-height: 1.4em;
    text-align: left;
}

.img-background {
    width: 250px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    display: block;
}

.btn-group {
    justify-content: space-between;
    margin-left: 15px;
}

.action_home {
    border-radius: 30px;
    color: #fff !important;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action_home:hover {
    color: #fff;
}

.instruction_app {
    font-size: 16px;
}

.resize_font {
    width: 237.5px;
    height: 55px;
    text-align: center;
    outline: none !important;
    /* font-size: 15px; */
}

.font-error {
    font-size: 13px;
}

.blurs {
    opacity: 0.7;
}

.copyright {
    padding: 4px;
    font-weight: 600;
}


/* Form Login */

button {
    border: none;
    outline: none;
    background: none;
}

input {
    outline: none;
}

.cont {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 550px;
    background: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.form {
    position: relative;
    width: 640px;
    height: 100%;
    padding: 30px 30px;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

h2 {
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: orange;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0px;
}

label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}

label span {
    font-size: 14px;
    font-weight: 600;
    color: #505f75;
    text-transform: uppercase;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.5s;
    font-size: 15px;
}

.form.sign-up input[type="text"],
.form.sign-up input[type="password"],
.form.sign-up input[type="email"] {
    margin: 10px auto !important;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus {
    width: 300px;
    border-color: #2ecc71;
}

button {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 46px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.submit {
    margin-top: 23px;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
    background: -webkit-linear-gradient(left, #7579ff, #b224ef);
}

.submit:hover {
    background: -webkit-linear-gradient(left, #b224ef, #7579ff);
}

.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #0c0101;
    cursor: pointer;
}

.forgot-pass a {
    text-decoration: none;
}

.forgot-pass a:hover {
    color: red;
}

.sub-cont {
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
}

.cont.s-signup .sub-cont {
    -webkit-transform: translate3d(-640px, 0, 0);
    transform: translate3d(-640px, 0, 0);
}

.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}

.exit {
    z-index: 2000;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.exit img {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.img:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url("../img/bg-login.jpg");
    background-size: cover;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.cont.s-signup .img:before {
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.img-text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img-text h2 {
    margin-bottom: 10px;
    font-weight: normal;
}

.img-text p {
    font-size: 12px;
    line-height: 1.5;
}

.cont.s-signup .img-text.m-up {
    -webkit-transform: translateX(520px);
    transform: translateX(520px);
}

.img-text.m-in {
    -webkit-transform: translateX(-520px);
    transform: translateX(-520px);
}

.cont.s-signup .img-text.m-in {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.sign-in {
    padding-top: 65px;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.cont.s-signup .sign-in {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.img-btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.img-btn:after {
    content: "";
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}

.img-btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;
}

.img-btn span.m-in {
    -webkit-transform: translateY(-72px);
    transform: translateY(-72px);
}

.cont.s-signup .img-btn span.m-in {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.cont.s-signup .img-btn span.m-up {
    -webkit-transform: translateY(72px);
    transform: translateY(72px);
}

.sign-up {
    -webkit-transform: translate3d(-900px, 0, 0);
    transform: translate3d(-900px, 0, 0);
}

.cont.s-signup .sign-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.sign-up form {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.sign-up form input {
    width: 90% !important;
}

.sign-up form input:focus {
    width: 100% !important;
}

#Gender {
    width: 10% !important;
    height: 18px !important;
}

.gender-title {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: orange !important;
}

.gender-details {
    text-align: center;
    grid-row: 5;
    grid-column: 1/3;
    margin-top: 10px;
}

.hobbies {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    font-size: 16px;
}

.hobbies label {
    width: 120px !important;
}

input[type="checkbox"] {
    height: 18px;
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
}

.category label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}

.city {
    margin: 0;
    width: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
}

select#format {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
    background-color: #5c5c5c !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    color: #fff !important;
    grid-row: 7;
    grid-column: 1/3;
    width: 200px;
    height: 35px;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.submit_sign_up,
button#btnDangNhap {
    margin-top: 15px;
    outline: none;
}

button.submit_sign_up {
    grid-row: 8;
    grid-column: 1/3;
}

.back_home {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2ecc71;
    color: white;
    border-radius: 50%;
}

.back_home span {
    font-size: 25px;
    font-weight: bold;
}

.password {
    position: relative;
}

.password span {
    position: absolute;
    top: 17px;
    right: 175px;
    color: grey;
    font-size: 20px;
    cursor: pointer;
}

@media only screen and (min-width: 901px) and (max-width: 995px) {
    .back_home {
        display: none;
    }
    .img-mobile {
        display: none;
    }
    section {
        width: 100% !important;
        height: 100%;
    }
    .container {
        margin: 0px;
    }
}

@media only screen and (min-width: 996px) {
    .img-mobile {
        display: none;
    }
    .back_home {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    #wrapper {
        position: relative;
        width: 100%;
        background-color: #fff;
        min-height: 800px;
        overflow: hidden;
    }
    #wrapper:before {
        background-image: url("../img/bg-login.jpg");
        clip-path: circle(44% at top);
        background-size: contain;
        background-position: center;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2000px;
        width: 100%;
        top: -60%;
        z-index: 1;
    }
    .img-mobile {
        z-index: 5;
        top: 0;
        left: 0;
        height: 40px;
        color: white;
    }
    .img-btn-mobile:after {
        content: "";
        z-index: 2;
        position: absolute;
        left: 10px;
        top: 4px;
        width: 82px;
        height: 33px;
        border: 2px solid #fff;
        border-radius: 30px;
    }
    .img-text {
        width: 100%;
        top: 25px;
    }
    .form.sign-in .form_user {
        /* display: flex; */
        display: block;
    }
    .form.sign-in {
        width: 100%;
        padding-top: 25px;
    }
    .form.sign-up {
        width: 100%;
        padding-top: 165px;
    }
    .cont {
        top: 0px;
        left: 0px;
        transform: none;
    }
    .sub-cont {
        overflow-y: auto;
        width: 100%;
        left: 0;
        padding-left: 0;
    }
    .sub-cont .img {
        display: none;
    }
    section {
        position: relative;
    }
    .square {
        display: none;
    }
    #error_email,
    #error_password {
        color: red;
    }
    .form input[type="text"]:focus,
    .form input[type="password"]:focus,
    .form input[type="email"]:focus {
        width: 270px;
        border-color: #2ecc71;
    }
    .sign-up {
        -webkit-transform: none;
        transform: none;
    }
    .cont .img-text.m-up-sign-up {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .cont .img-text.m-up-sign-in {
        -webkit-transform: translateX(520px);
        transform: translateX(520px);
    }
    .cont.sign-up .img-text.m-up-sign-up {
        -webkit-transform: translateX(-520px);
        transform: translateX(-520px);
    }
    .cont.sign-up .img-text.m-up-sign-in {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .img-text h5 {
        text-transform: uppercase;
    }
    .img-btn-mobile span {
        position: absolute;
        left: 0;
        top: 0;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        -webkit-transition: -webkit-transform 1.2s;
        transition: -webkit-transform 1.2s;
        transition: transform 1.2s;
        transition: transform 1.2s, -webkit-transform 1.2s;
    }
    .img-btn-mobile {
        overflow: hidden;
        z-index: 2;
        position: relative;
        width: 100px;
        height: 36px;
        margin: auto;
        margin-top: 88px;
        background: transparent;
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        cursor: pointer;
    }
    .img-btn-mobile span.m-in-sign-in {
        -webkit-transform: translateY(-72px);
        transform: translateY(-72px);
    }
    .img-btn-mobile span.m-up-sign-up {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    .cont.sign-up .img-btn-mobile span.m-in-sign-in {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    .cont.sign-up .img-btn-mobile span.m-up-sign-up {
        -webkit-transform: translateY(-72px);
        transform: translateY(-72px);
    }
    .cont .sign-up {
        -webkit-transform: translate3d(-900px, 0, 0);
        transform: translate3d(-900px, 0, 0) !important;
    }
    .cont .sign-in {
        /* -webkit-transform: translate3d(-900px, 0, 0); */
        transform: translate3d(0, 0, 0);
        z-index: 1;
    }
    .cont.sign-up .form.sign-up {
        /* -webkit-transform: translate3d(-900px, 0, 0); */
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0) !important;
    }
    .cont.sign-up .form.sign-in {
        /* padding: 0; */
        /* z-index: 0; */
        -webkit-transform: translate3d(900px, 0, 0);
        transform: translate3d(900px, 0, 0);
    }
}

@media only screen and (max-width: 450px) {
    .sign-up form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #Gender {
        width: 10% !important;
        height: 18px !important;
        margin-right: 5px;
    }
    .gender-details {
        width: 100%;
    }
    .hobbies {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 451px) and (max-width: 800px) {
    #wrapper:before {
        clip-path: circle(42% at top) !important;
    }
    .hobbies {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 801px) and (max-width: 900px) {
    #wrapper:before {
        clip-path: circle(41% at top) !important;
    }
}

@media only screen and (min-width: 381px) and (max-width: 576px) {
    .form input[type="text"],
    .form input[type="password"],
    .form input[type="email"] {
        width: 80%;
    }
    .password span {
        right: 55px;
    }
    .form input[type="text"]:focus,
    .form input[type="password"]:focus,
    .form input[type="email"]:focus {
        width: 90%;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .form input[type="text"],
    .form input[type="password"],
    .form input[type="email"] {
        width: 70%;
    }
    .password span {
        right: 110px;
    }
    .form input[type="text"]:focus,
    .form input[type="password"]:focus,
    .form input[type="email"]:focus {
        width: 80%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
    .form input[type="text"],
    .form input[type="password"],
    .form input[type="email"] {
        width: 60%;
    }
    .password span {
        right: 180px;
    }
    .form input[type="text"]:focus,
    .form input[type="password"]:focus,
    .form input[type="email"]:focus {
        width: 70%;
    }
}

@media only screen and (max-width: 880px) {
    /* Section Form */
    section {
        padding: 0px;
        opacity: 1 !important;
    }
    .form_1 {
        height: 100vh;
    }
    .square {
        display: none;
    }
    section header {
        padding-top: 0px;
        justify-content: flex-end;
    }
    section header .logo img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    section .main-section {
        flex-direction: column-reverse;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section .main-section .text-box {
        text-align: justify !important;
    }
    h2.name {
        text-align: center !important;
    }
    .form_1 .btn-group {
        padding: 0 15px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form_1 .btn-group .resize_font {
        width: 100%;
        height: 58px;
    }
    section .form_1 header,
    section .form_1 footer {
        padding: 4px;
    }
    .container {
        max-width: 100%;
        height: 67%;
    }
    .main-section .textbox {
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 380px) {
    /* Section Form */
    .img-background {
        width: 160px;
        height: 160px;
    }
    #Gender {
        width: 10% !important;
        height: 18px !important;
    }
    .form input[type="text"],
    .form input[type="password"],
    .form input[type="email"] {
        width: 90%;
    }
    .password span {
        right: 30px;
    }
    .form input[type="text"]:focus,
    .form input[type="password"]:focus,
    .form input[type="email"]:focus {
        width: 100%;
    }
}

.hobbies-checkboxes {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0px;
}

.sign-up {
    overflow-y: auto;
}